{% extends 'base.html' %}
{% load static %}
{% block content %} 
<div class="section-4">
    <div class="div-block-11">
      <h1 class="heading-4">{{Manufactury.Name}}</h1>
    </div>
</div>
<div class="w-container">
    <div class="section-5">
      <div class="div-block-12">
        <h2 class="heading-5"> Общая информация</h2>
        <div>
          <div class="div-block-13 gi">
            <div class="w-row">
              <div class="w-col w-col-4">
                <h2 class="heading-6">Специализация</h2>
              </div>
              <div class="w-col w-col-4">
                <h2 class="heading-6">Объем партии</h2>
              </div>
              <div class="w-col w-col-4">
                <h2 class="heading-6">Рейтинг</h2>
              </div>
            </div>
          </div>
          <div class="div-block-13 z">
            <h2 class="heading-6">Описание</h2>
          </div>
          <div class="div-block-13 z">
            <h2 class="heading-6">Регион работы</h2>
          </div>
          <div class="div-block-13 z">
            <div class="w-row">
              <div class="w-col w-col-6">
                <h2 class="heading-6">Адрес</h2>
              </div>
              <div class="w-col w-col-6">
                <h2 class="heading-6">Сайт</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-5">
      <div class="div-block-12">
        <h2 class="heading-5"> Заказы</h2>
        <div>
          <div class="div-block-13 z">
            <h2 class="heading-6">Условия работы : давальческое сырье</h2>
          </div>
          <div class="div-block-13 z">
            <h2 class="heading-6">Экспериментальный цех : есть нету</h2>
          </div>
          <div class="div-block-13 z">
            <h2 class="heading-6">Дополнительные услуги</h2>
          </div>
          <div class="div-block-13 z">
            <h2 class="heading-6">Возможность разработки лекал</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="section-5">
      <div class="div-block-12">
        <h2 class="heading-5"> История заказов</h2>
        <div class="div-block-13">
          <div class="w-row">
            <div class="w-col w-col-3">
              <h2 class="heading-6">Заказчик</h2>
            </div>
            <div class="w-col w-col-3">
              <h2 class="heading-6">Продукция</h2>
            </div>
            <div class="w-col w-col-3">
              <h2 class="heading-6">Дата</h2>
            </div>
            <div class="w-col w-col-3">
              <h2 class="heading-6">Оценка</h2>
            </div>
          </div>
        </div>
        <div class="div-block-13">
          <div class="w-row">
            <div class="w-col w-col-3">
              <h2 class="heading-6">Заказчик</h2>
            </div>
            <div class="w-col w-col-3">
              <h2 class="heading-6">Продукция</h2>
            </div>
            <div class="w-col w-col-3">
              <h2 class="heading-6">Дата</h2>
            </div>
            <div class="w-col w-col-3">
              <h2 class="heading-6">Оценка</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-5">
      <div class="div-block-12">
        <h2 class="heading-5">Оборудование</h2>
        <div class="div-block-13 m">
          <div class="w-row">
            <div class="w-col w-col-4">
              <h2 class="heading-6">Цех</h2>
            </div>
            <div class="w-col w-col-4">
              <h2 class="heading-6">Машина</h2>
            </div>
            <div class="w-col w-col-4">
              <h2 class="heading-6">Количество</h2>
            </div>
          </div>
        </div>
        <div class="div-block-13 m">
          <div class="w-row">
            <div class="w-col w-col-4">
              <h2 class="heading-6">Цех</h2>
            </div>
            <div class="w-col w-col-4">
              <h2 class="heading-6">Машина</h2>
            </div>
            <div class="w-col w-col-4">
              <h2 class="heading-6">Количество</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-5">
      <div class="div-block-12">
        <h2 class="heading-5">Галерея</h2>
        <div class="div-block-17">
          <div class="div-block-16"></div>
          <div class="div-block-16"></div>
          <div class="div-block-16"></div>
          <div class="div-block-16"></div>
          <div class="div-block-16"></div>
          <div class="div-block-16"></div>
        </div>
      </div>
    </div>
</div>
{% endblock %}