{% load static %}
<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="nav w-nav">
    <div class="s_menu"><a href="{% url 'home' %}" class="link">lica</a>
      <div>
        <a href="#" class="link-2">О нас</a>
        <a href="#" class="link-2">Предложение</a>
        <a href="#" class="link-2">Команда</a>
        <a href="#" class="link-2">Контакты</a>
    </div>
    <a href="{% url 'list' %}" class="button w-button">Перейти к списку фабрик</a></div>
</div>